/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, .rankCreation2-page, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, t.rankCreation2-page, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.rankCreation2-page {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS AutoReset */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

html, .rankCreation2-page {
	overflow-x: hidden;
}

.rankCreation2-page::-webkit-scrollbar {
  display: none;
}

.rankCreation2-page {
	font-family: 'Montserrat', sans-serif;
	/*background-image: linear-gradient(to top, #F7F3F3, #157E75, #85CDC0, #E2F7F0, #E2F7F0, #15484D);*/
	background-image: url('../Images/rank-creationdetail/bg-lg-2.svg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.rankCreation2-page .navbar .rankCreation2-page .nav-link {
	font-size: 18px;
	font-weight: bold;
	margin-right: 10px;
}

.rankCreation2-page .options {
	margin-top: 45px;
	margin-bottom: 15px;
}

.rankCreation2-page .options p {
	opacity: .8;
	font-family: 'Helvetica';
	font-size: 14px;
}

.rankCreation2-page .inner-content p.desc-p {
	color: #154A4E;
	font-family: 'Helvetica';
	opacity: .6;
	font-weight: bold;
	font-size: 18px;
	margin-top: 25px !important;
	max-width: 45%;
	text-align: center;
	letter-spacing: 0.3px;
}

.rankCreation2-page .inner-content p.desc-p-two {
	color: #154A4E;
	font-family: 'Helvetica';
	opacity: .6;
	font-size: 18px;
	margin-top: 25px !important;
	max-width: 45%;
	text-align: center;
	margin-top: 10px !important;
	letter-spacing: 0.3px;
	line-height: 25px;
}

.rankCreation2-page .inner-content .container {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.377568), rgba(255, 255, 255, 0.0001));
	border-radius: 30px 30px 0 0;
}

.rankCreation2-page .inner-content h2 {
	color: #154A4E;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-top: -10px;
	opacity: .9;
}

.rankCreation2-page .inner-content p {
	color: #154A4E;
	font-family: 'Helvetica';
	font-size: 16px;
}

.rankCreation2-page .card-sm {
	background-color: white;
	border-radius: 30px;
	padding: 10px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	position: relative;
	max-height: 530px;
	box-shadow: 5px 5px 5px grey;
}

.rankCreation2-page .card-sm.lg {
	padding: 40px;
	max-height: 680px;
	transform: scale(1.05);
}

.rankCreation2-page .card-sm h4 {
	color: #636363;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.rankCreation2-page .card-sm h3 {
	color: #636363;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

.rankCreation2-page .ls-group {
	margin-bottom: 150px;
}

.rankCreation2-page .list {
	display: flex;
	align-items: center;
	font-family: 'Helvetica';
	font-size: 16px;
	font-weight: lighter;
	margin-top: 40px;
}

.rankCreation2-page .list img {
	margin-right: 10px;
}

.rankCreation2-page .btn-login {
	background-image: linear-gradient(to top, #AD3C3B, #F18B6D);
	border-radius: 35px;
	font-weight: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	padding: 10px 45px;
	color: white;
	border: 1px solid white;
	font-size: 19px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
	margin-bottom: 30px;
}

.rankCreation2-pagea:hover {
	text-decoration: none;
	color: white;
}

.rankCreation2-page .btn-add {
	background-color: #E2826F;
	box-shadow: 0px 3.39761px 8.49402px rgba(21, 87, 88, 0.5);
	max-width: 65%;
	color: white;
	padding: 10px 0 10px 20px;
	border-radius: 10px;
	border: none;
	font-family: 'Helvetica';
	font-size: 16px;
	text-align: left;
	margin-left: 13px;
}

.rankCreation2-page .btn-import {
	background-color: #FFFFFF;
	opacity: .4;
	box-shadow: 2px 2px 6px rgba(21, 85, 86, 0.5);
	border: none;
	border-radius: 10px;
	font-weight: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	padding: 10px 15px 10px 15px;
	border: none;
	font-size: 18px;
}

.rankCreation2-page .col-txt {
	margin-top: 30px;
}

.rankCreation2-page .col-txt p {
	margin-top: 30px;
}

.rankCreation2-page .col-movie {
	background: linear-gradient(180deg, #15484D 0%, #329A90 52.94%, rgba(103, 198, 189, 0.05) 77.94%, rgba(167, 215, 211, 0.0001) 94.62%);
	border-radius: 20px 20px 0  0;
	padding: 20px 20px;
	box-sizing: border-box;
	max-width: 95%;
}

.rankCreation2-page .col-movie h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: white;
	opacity: .7;
	text-align: center;
}

.rankCreation2-page .col-movie .row-cards .card {
	padding: 0;
	background-color: #79A9A6;
	height: 170px;
	width: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

.rankCreation2-page .col-movie .row-cards .card-img-top {
	height: 150px;
}

.rankCreation2-page .card-img {
	width: 55px !important;
	height: 60px !important;
}

.rankCreation2-page .col-movie .row-cards .card .card-title {
	margin-top: -18px;
	margin-bottom: -2px;

	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 13.5904px;
	line-height: 19px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.226507px;

	color: #FFFFFF;
	min-width: 120px;
}

.rankCreation2-page .col-movie .row-cards .card .card-text {
	text-align: center;
	font-family: 'Helvetica';
	font-size: 10px;
	color: white;
	border: none;
}

.rankCreation2-page .col-movie .txt-identifier {
	font-style: normal;
	font-weight: normal;
	font-size: 16.988px;
	line-height: 23px;
	/* identical to box height */

	letter-spacing: 0.283134px;

	color: #FFFFFF;

	mix-blend-mode: normal;
	opacity: 0.65;
	margin-bottom: 20px;
	margin-top: 5px;
}

.rankCreation2-page .row-recommend .card {
	padding: none;
	height: 63px;
	margin-top: 15px;
	border-radius: 7px;
	background-color:  rgba(255, 255, 255, .8) !important;
}

.rankCreation2-page .row-recommend .card .card-text {
	margin-top: -5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-weight: 600;
}

button:focus {
    outline: none;
}

@media screen and (max-width: 440px) {
	.rankCreation2-page .col-movie .row-cards .card {
		padding: 0;
		background-color: #79A9A6;
		height: 100px !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		width: 70px !important;
	}

	.rankCreation2-page .col-movie .row-cards .card-img-top {
		height: 90px;
		width: 70px !important;
	}

	.rankCreation2-page .col-movie .row-cards .card .card-title {
		text-align: center;
		font-family: 'Helvetica';
		font-size: 10px;
		color: white;
		border: none;
		margin-top: -20px;
	}

	.rankCreation2-page .col-movie .row-cards .card .card-text {
		margin-top: -10px;
		text-align: center;
		font-family: 'Helvetica';
		font-size: 10px;
		color: white;
		border: none;
		width: 100px;
	}

	.rankCreation2-page .row-recommend {
		display: flex;
		flex-direction: column;
	}

	.rankCreation2-page .row-recommend .card-hori {
		padding: none;
		height: 60px;
		width: 200px;
		margin-top: 15px;
		border-radius: 7px !important;
		display: flex;
		flex-direction: row !important;
		justify-content: flex-start !important;
		background-color: rgba(255, 255, 255, .8) !important;
	}

	.rankCreation2-page .row-recommend .card-hori img {
		width: 50px !important;
		height: 60px !important;
	}

	.rankCreation2-page .row-recommend .card-hori .card-text {
		margin-top: 10px;
		font-family: 'Montserrat', sans-serif;
		font-size: 11px;
		font-weight: 600;
		margin-left: 5px;
	}
}

@media screen and (max-width: 576px) {
	.rankCreation2-page {
		background-image: url('../Images/rank-creationdetail/bg-lg-2.svg');
	}

	.rankCreation2-page .img-hero {
		position: absolute;
		margin-top: -200px;
		right: -150px;
		z-index: -3;
	}

	.rankCreation2-page .hero h3 {
		font-size: 36px;
		margin-top: 30px;
		z-index: 1;
	}

	.rankCreation2-page .hero p {
		font-family: 'Helvetica', sans-serif;
		font-size: 20px;
		font-weight: 400;
		opacity: .7;
		z-index: 1;
		margin-top: 20px;
	}

	.rankCreation2-page .input-search {
		margin-top: 60px;
	}

	.rankCreation2-page .why-ranked {
		margin-top: 150px;
	}

	.rankCreation2-page h2.header-text, .rankCreation2-page h2.header-text-blue {
		font-size: 35px;
	}

	.rankCreation2-page .inner-content .container {
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.377568), rgba(255, 255, 255, 0.0001));
		border-radius: 30px 30px 0 0;
 	}

	.rankCreation2-page .col-movie {
		margin-top: 20px;
	}
} 

@media (min-width: 440px) and (max-width: 576px) {
	.rankCreation2-page .col-movie .row-cards .card {
		padding: 0;
		background-color: #79A9A6;
		height: 130px !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		width: 100px !important;
	}

	.rankCreation2-page .col-movie .row-cards .card-img-top {
		height: 120px;
	}

	.rankCreation2-page .col-movie .row-cards .card .card-title {
		text-align: center;
		font-family: 'Helvetica';
		font-size: 13px;
		color: white;
		border: none;
		margin-top: -20px;
	}

	.rankCreation2-page .col-movie .row-cards .card .card-text {
		margin-top: -10px;
		text-align: center;
		font-family: 'Helvetica';
		font-size: 10px;
		color: white;
		border: none;
		width: 100px;
	}
}

.rankCreation2-page .row-recommend .card-hori {
	padding: none;
	height: 60px;
	margin-top: 15px;
	border-radius: 7px !important;
	display: flex;
	flex-direction: row !important;
	justify-content: flex-start !important;
	background-color: rgba(255, 255, 255, .8) !important;
}

.rankCreation2-page .row-recommend .card-hori img {
	width: 70px;
	height: 60px;
}

.rankCreation2-page .row-recommend .card-hori .card-text {
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-weight: 600;
	margin-left: 5px;
}

@media (min-width: 576px) and (max-width: 992px) {
	.rankCreation2-page .col-movie {
		margin-top: 20px;
	}

	.rankCreation2-page .row-recommend .card {
		padding: none;
		height: 63px;
		margin-top: 15px;
		border-radius: 7px;
	}

	.rankCreation2-page .col-movie .row-cards .card .card-title {
		text-align: center;
		font-family: 'Helvetica';
		font-size: 13px;
		color: white;
		border: none;
		margin-top: -10px;
	}

	.rankCreation2-page .col-movie .txt-identifier {
		margin-top: 7px;
		font-family: 'Helvetica';
		font-size: 20px;
		font-weight: bold;
		color: white;
		opacity: .7;
	}

	.rankCreation2-page .col-movie .row-cards .card .card-text {
		margin-top: -10px;
		text-align: center;
		font-family: 'Helvetica';
		font-size: 10px;
		color: white;
		border: none;
		width: 100px;
	}

	.rankCreation2-page .btn-login {
		background-image: linear-gradient(to top, #AD3C3B, #F18B6D);
		border-radius: 35px;
		font-weight: 20px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		color: white;
		border: 1px solid white;
		font-size: 19px;
		box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
		padding: 7px 40px;
	}

}

.rankCreation2-page .movie-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15.2892px;
	line-height: 19px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.907362px;

	color: #FFFFFF;

	mix-blend-mode: normal;
	opacity: 0.75;

	margin-bottom: 20px;
}

.rankCreation2-page .col-right {
	padding: 0 0 0 10px;
}

.rankCreation2-page .btn-close {
	border-radius: 50%;
	/*background-color: rgba(255, 255, 255, 0.4);*/
	background-image: url('../Images/postpreview/btn-info.svg');
	background-size: 30px 30px !important;
	font-weight: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	display: flex;
	z-index: 999;
	position: relative;
	justify-content: center;
	margin-top: 30px !important;
	margin-bottom: -50px !important;
}
