/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, .signup-page, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.signup-page {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS AutoReset */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

html, .signup-page {
	overflow-x: hidden;
}

.signup-page::-webkit-scrollbar {
  display: none;
}

div::-webkit-scrollbar {
  display: none;
}

.signup-page {
	font-family: 'Montserrat', sans-serif;
	/*background-image: linear-gradient(to top, #F7F3F3, #157E75, #85CDC0, #E2F7F0, #E2F7F0, #15484D);*/
	background-image: url('../Images/categories/bg-lg-2.svg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	position: relative;
	z-index: 1;
}

.signup-page .navbar .nav-link {
	font-size: 18px;
	font-weight: bold;
	margin-right: 10px;
}

.signup-page .img-logo {
	margin-left: -80px;
}

.signup-page .options {
	/*margin-left: -80px;*/
	margin-top: -290px;
}

.signup-page .options-2 {
	margin-top: -320px;
	margin-bottom: -30px;
}

.signup-page .option-link {
	color: white;
	font-size: 18px;
	font-weight: bold;
	opacity: .7;
}

.signup-page .option-link:hover {
	color: white;
	text-decoration: none;
	opacity: 1;
}

.signup-page .hero {
	display: flex;
}

.signup-page .hero h3 {
	font-weight: 600;
	font-size: 26px;
	margin-top: 70px !important;
}

.signup-page .hero ul {
	margin-top: 40px;
}

.signup-page .hero p, .signup-page .hero li {
	font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: white;
	margin-top: 20px;
}

.signup-page .hero li {
	margin-left: -22px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.signup-page .hero li img {
	margin-right: 13px;
}

.signup-page .col-left {
	z-index: 1;
	padding-left: 100px;
	box-sizing: border-box;
	overflow-x: hidden;
	height: 100% !important;
}

.signup-page .col-left img {
	padding-left: none !important;
}

.signup-page .col-left p {
	max-width: 500px;
}

.signup-page .col-left .bg-signup {
	/*margin-left: -200px;*/
	z-index: -1;
}

.signup-page .col-right {
	color: black;
	font-family: 'Helvetica';
	font-size: 18px;
	font-weight: bold;
	background-image: url('../Images/login/bg-signup.png');
	background-size: cover;

	/*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));*/
	border-radius: 0px 30px 30px 0;
	min-height: 180vh;
	z-index: 1;
	position: relative;
}

.signup-page .col-right > .row > .col > * {
	margin-top: 30px;
}

.signup-page .row-login h4, .signup-page .row-login h6, .signup-page .row-login p {
	color: #154D50;
	font-family: lighter;
	font-family: 'Helvetica';
}

.signup-page .row-login h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	font-weight: 600;
	letter-spacing: 1px;
	opacity: .7;
	margin-top: 140px !important;
	margin-bottom: 14px !important;
}

.signup-page .row-login h6 {
	font-family: 'Helvetica';
	font-size: 22px;
	opacity: .7;
	font-weight: 400;
}

.signup-page .row-login p {
	font-family: 'Helvetica';
	font-size: 15px;
	font-weight: lighter;
	text-align: center;
}

.signup-page .btn-oauth {
	font-size: 15px;
	border-radius: 33px;
	font-family: 'Helvetica';
	font-weight: lighter;
}

.signup-page .btn-oauth.google {
	padding: 3px 57px 3px 43px;
	margin-left: -3px;
}

.signup-page .btn-oauth.facebook {
	padding: 1px 35px 1px 35px;
}

.signup-page .input-login:focus {
	outline: none;
} 

.signup-page .row-absol {
	position: relative;
	cursor: pointer;
}

.signup-page .row-absol .one {
	position: absolute; 
	top: -83px;
	right: 22px;
}

.signup-page .row-absol .two {
	position: absolute; 
	top: -23px;
	right: 22px;
}

.signup-page .btn-login {
	background-image: linear-gradient(to top, #AD3C3B, #F18B6D);
	border-radius: 35px;
	font-weight: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	padding: 10px 50px 10px 50px;
	color: white;
	border: 1px solid white;
	font-size: 19px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
	margin-top: 30px !important;
	margin-bottom: 13px !important;
}

.signup-page .btn-import {
	padding: 10px 42px 10px 42px;
	background-color: transparent;
	border-radius: 35px;
	border: 2px solid white;
	font-weight: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 19px;
	margin-left: -2px !important;
	color: white;
	box-sizing: border-box;
}

.signup-page .link-login {
	color: #154A4E;
	font-family: 'Helvetica';
	font-weight: lighter;
	font-size: 16px;
	transition: all 1s;
	margin-top: 50px;
	margin-bottom: 40px;
	z-index: 99;
	opacity: .7;
	cursor: pointer;
}

.signup-page .link-login:hover {
	text-decoration: none;
	color: #23887E;
}

.signup-page .hr-salmon {
	border: 1px solid #E9745D;
	width: 130px;
	position: absolute;
	right: 15px;
}

.signup-page .hr-salmon-lg {
	border: 1px solid #E9745D;
	width: 200px;
	position: absolute;
	left: 150px;
}

.signup-page button:focus {
    outline: none;
}

.signup-page .img-one {
	z-index: -2;
	margin-top: 59px;
	margin-left: -20px;
	height: 300px;
	width: 500px;
}

.signup-page .input-login {
	width: 48%;
	border: none;
	border-radius: 6px;
	padding: 6px 10px;
	font-family: 'Helvetica';
	font-size: 16px;
	color: black;
}

.signup-page .input-login:focus {
	outline: none;
} 


@media (min-width: 578px) and (max-width: 992px) {
	.signup-page .bg-login {
		right: -400px;
	}

	.signup-page .hr-salmon-lg {
		border: 1px solid #E9745D;
		width: 200px;
		position: absolute;
		left: 100px;
	}
}

.signup-page .popup {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-page .popup-content {
	width: 500px;
	height: 260px;
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background: #EAF8F8;
	box-shadow: 11px 13px 28px 3px rgba(34, 56, 56, 0.66);
	border-radius: 23px;
	position: relative;
}

.signup-page .popup-content .button-g {
	margin-top: 40px !important;
	margin-bottom: -30px !important;
}

.signup-page .popup-content h4 {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 1.18693px;

	margin-top: -70px !important;

	text-align: center;

	color: #154A4E;

	mix-blend-mode: normal;
	opacity: 0.75;
}

.signup-page .popup-content h5 {
	color: #154A4E;

	mix-blend-mode: normal;
	opacity: 0.75;
	margin-top: 20px;

	position: relative;

	font-family: "Helvetica";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.327321px;

	color: #154A4E;

	mix-blend-mode: normal;
	opacity: 0.7;
}

.signup-page .popup-content .btn-popup {
	background-image: linear-gradient(to top, #AD3C3B, #F18B6D);
	border-radius: 35px;
	font-weight: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	padding: 10px 50px 10px 50px;
	color: white;
	border: 1px solid white;
	font-size: 19px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
}

.signup-page .popup-content .btn-popup2 {
	padding: 10px 50px 10px 50px;
	border-radius: 35px;
	border: 2px solid white;
	font-weight: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 19px;
	color: white;
	box-sizing: border-box;

	background: #BAD7D5;
	border: 2px solid #FFFFFF;
}

.signup-page .popup-content .btn-close {
	position: absolute;

	top: -55px;
	right: -220px;

	border-radius: 50%;
	/*background-color: rgba(255, 255, 255, 0.4);*/
	background-image: url('../Images/postpreview/btn-close.svg');
	background-size: 30px 30px !important;
	font-weight: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	display: flex;
	z-index: 10001;
	position: relative;
	justify-content: center;
}


@media (min-width: 380px) and (max-width: 440px) {
	.signup-page .popup-content .btn-close {
		position: absolute;
		top: -17px;
		right: -170px;
	}
} 
@media (min-width: 270px) and (max-width: 380px) {
	.signup-page .popup-content .btn-close {
		position: absolute;
		top: -17px !important;
		right: -140px !important;

	}
} 

.signup-page .line-login {
	margin-top: -60px;
	margin-bottom: 0px;
}

@media (min-width: 576px) and (max-width: 991px) {
	.signup-page .input-login {
		width: 65% !important;
	}

	.signup-page .row-absol .one {
		position: absolute; 
		top: -85px;
		right: -15px;
	}

	.signup-page .row-absol .two {
		position: absolute; 
		top: -22.5px;
		right: -15px;
	}
}

@media (max-width: 576px) {
	.signup-page {
		padding-top: 200px;
		background-image: url('../Images/confirmation/bg-sm-2.svg');
	}

	.signup-page .col-right {
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4));
		border-radius: 50px 50px 0 0;
		color: black;
		font-family: 'Helvetica';
		font-size: 18px;
		font-weight: bold;
		height: 40vh !important;
		margin-top: -120px !important;
		z-index: 2;
	}

	.signup-page .img-hero {
		position: absolute;
		margin-top: -200px;
		left: -150px;
		top: 200px;
		z-index: -3;
		opacity: .6;
	}

	.signup-page .input-login {
		width: 70%;
	} 

	.signup-page .hero h3 {
		font-size: 36px;
		margin-top: 30px;
		z-index: 1;
	}

	.signup-page .hero p {
		font-family: 'Helvetica', sans-serif;
		font-size: 20px;
		font-weight: 400;
		opacity: .7;
		z-index: 1;
		margin-top: 20px;
	}

	.signup-page .col-right > .row > .col > * {
		margin-top: 15px;
	}

	.signup-page .hr-salmon {
		border: 1px solid #E9745D;
		width: 130px;
		position: absolute;
		right: 50px;
	}

	.signup-page .hr-salmon-lg {
		border: 1px solid #E9745D;
		width: 200px;
		position: absolute;
		left: 90px;
	}

	.signup-page .row-absol .one {
		position: absolute; 
		top: -68.5px;
		right: -22px;
	}

	.signup-page .row-absol .two {
		position: absolute; 
		top: -22px;
		right: -22px;
	}

	.signup-page .btn-login {
		padding: 3px 30px 3px 30px;
	}

	.signup-page .btn-import {
		padding: 3px 24px 3px 24px;
	} 

	.signup-page .link-login {
		margin-top: 70px !important;
	}
}


.signup-page .invalid-text {
	color: #FF0000 !important;
}

@media screen and (max-width: 768px) {
	.signup-page .btn-login {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 13.236px;
		line-height: 16px;
		text-align: center;
		padding: 5px 29px;
		color: #FFFFFF;
		margin-right: 10px;
	}

	.signup-page .btn-import {
		margin-top: 20px !important;
		background: rgba(255, 255, 255, 0.4) !important;
		box-shadow: 2px 2px 6px rgba(21, 87, 88, 0.5);
		font-family: "Montserrat", sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 13px;
		padding: 5px 15px;
		line-height: 16px;
		/* identical to box height */

		text-align: center;
		letter-spacing: 0.371766px;

		color: #39686A !important;
		border: none !important;

		mix-blend-mode: normal;
		opacity: 0.75;
		border-radius: 20px;
	}
}