.container-createRank .row-cards {
	width: 90% !important;
}

.container-createRank .row-cards .card {
	padding: 0;
	background-color: #79A9A6;
	height: 170px;
	width: 120px;
	margin-left: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	overflow: hidden;
	border-radius: 7px 7px 0 0;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
	/* cursor: url('../../Images/cursor/drag-icon.svg'), auto; */
	cursor: grab;
}

.container-createRank .row-cards .card-img-top {
	height: 160px;
}  

.container-createRank .row-cards .txt-identifier {
	text-shadow: 0px 3px 2px rgb(92, 88, 88, .8);
	margin-left: 70px;
}

.container-createRank .row-cards .card-title {
	min-height: 20px;
	margin-top: -16px;
	margin-bottom: -15px;
	font-family: Helvetica;
	font-style: normal;
	font-size: 12px;
	line-height: 11.5px !important;
	/* identical to box height */
	text-align: center;
	letter-spacing: 0.226507px; 
	font-weight: 300;
	color: white !important;
	opacity: 1 !important;
	/* min-width: 120px; */
	width: 100px !important;
}

@media (min-width: 991px) {
	.container-createRank .txt-identifier {
		margin-bottom: 20px;
		margin-top: -45px;	
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 16.988px;
		line-height: 23px;
		/* identical to box height */
		letter-spacing: 0.283134px;
		color: #FFFFFF !important;
		text-shadow: 3px solid grey;
		mix-blend-mode: normal;
		opacity: 0.65;
	}
}
	
@media screen and (max-width: 440px) {
	.container-createRank .row-cards .card {
		padding: 0;
		background-color: #79A9A6;
		/* height: 100px !important; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 70px !important;
		height: 120px !important;
		margin-bottom: 30px;
	}

	.container-createRank .row-cards .card-img-top {
		height: 120px;
		width: 70px !important;
	}

	.container-createRank .row-cards .card .card-title {
		min-height: 20px;
		text-align: center;
		font-family: 'Helvetica';
		font-size: 10px;
		line-height: 5px;
		color: white;
		border: none;
		margin-top: -20px;
		max-width: 70px !important;
	}

	.container-createRank .row-cards .card .card-text {
		margin-top: -10px;
		text-align: center;
		font-family: 'Helvetica';
		font-size: 10px;
		color: white;
		border: none;
		width: 100px;
	}

}

@media (min-width: 440px) and (max-width: 576px) {
	.container-createRank .row-cards .card {
		padding: 0;
		background-color: #79A9A6;
		height: 160px !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100px !important;
		margin-bottom: 30px;
	}

	.container-createRank .row-cards .card-img-top {
		height: 150px;
	}

	.container-createRank .row-cards .card .card-title {
		min-height: 20px;
		text-align: center;
		font-family: 'Helvetica';
		font-size: 13px;
		color: white;
		border: none;
		margin-top: -15px;
		margin-bottom: -12px;
	}

	.container-createRank .row-cards .card .card-text {
		margin-top: -10px;
		text-align: center;
		font-family: 'Helvetica';
		font-size: 10px;
		color: white;
		border: none;
		width: 100px;
	}
}

@media screen and (max-width: 576px) {
	.container-createRank .card .card-title {
		min-height: 20px;
		max-width: 130px !important;
	}

	.container-createRank .card-fixed img {
		width: 24px;
	}

	.container-createRank .txt-identifier {
		margin-top: -20px !important;
		margin-bottom: 20px !important;	
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 16.988px;
		line-height: 23px;
		/* identical to box height */
		letter-spacing: 0.283134px;	
		color: #FFFFFF !important;
		text-shadow: 3px solid grey;
		mix-blend-mode: normal;
		opacity: 0.65;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.container-createRank .row-cards .card {
		padding: 0;
		background-color: #79A9A6;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
		margin-top: 50px;
		width: 110px !important;
		height: 170px !important;
	}

	.container-createRank .txt-identifier {
		margin-top: 10px !important;
	
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 16.988px;
		line-height: 23px;
		/* identical to box height */
	
		letter-spacing: 0.283134px;
	
		color: #FFFFFF !important;
		text-shadow: 3px solid grey;
		mix-blend-mode: normal;
		opacity: 0.65;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.container-createRank .row-cards .card {
		padding: 0;
		background-color: #79A9A6;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 30px !important;
		margin-bottom: 50px !important;
		width: 110px !important;
		height: 170px !important;
	}

	.container-createRank .txt-identifier {
		margin-top: -40px !important;
	
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 16.988px;
		line-height: 23px;
		/* identical to box height */
	
		letter-spacing: 0.283134px;
	
		color: #FFFFFF !important;
		text-shadow: 3px solid grey;
		mix-blend-mode: normal;
		opacity: 0.65;
	}
}

@media (min-width: 991px) {
	.container-createRank .row-cards .card {
		padding: 0;
		background-color: #79A9A6;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 40px;
		margin-bottom: 50px;
		width: 120px !important;
		height: 175px !important;
	}
}

.container-createRank .card-fixed {
	height: 120px;
	width: 100px;
	background-color: #79A9A6;
	display: flex;
	justify-content: center;
	align-items: center;
}